.Login__container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.Login__container form {
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--main-color), var(--primary-color));
  border-radius: 0.5rem;
  box-shadow: 10px 10px 20px 1px var(--accent-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 22rem;
  justify-content: center;
  width: 19rem;
}

.Login__container form button:enabled {
  background-color: var(--accent-color);
  box-shadow: 1px 1px 2px 1px var(--accent-color);
  color: var(--secondary-color);
}
