.Form__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Form__container h3 {
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.Form__container form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10%;
  width: 60%;
}

.Form__container form button {
  background-color: var(--accent-color);
  box-shadow: 1px 1px 2px 1px var(--accent-color);
  color: var(--secondary-color);
  height: 1.5rem;
}

.Form__container form label {
  margin-top: 0.7rem;
}


.Form__container form input , select {
  display: block;
  height: 1rem;
  margin-top: 0.25rem;
}
