body {
  background-image: linear-gradient(to bottom right, var(--main-color), var(--primary-color));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --main-color: #05ACFD;
  --primary-color: #025CF8;
  --secondary-color: #FEFFFF;
  --accent-color: #1A2F5D;
  --hover-color: #1a235d;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  font-weight: 700;
  border-style: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input, select {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1rem;
  margin-bottom: 2rem;
  outline: none;
  padding: 0.75rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}